<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Raygun.Website</title>
    <base href="~/" />
</head>
<body>
    <div id="root"></div>
    @* TODO: We'll update this to point at our production build of the React app. *@
    <script src="~/clientapp/dist/main.js"></script>
</body>
</html>